* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.one {
  background-color: rgb(66, 60, 51);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
}

img {
  height: 100px;
  width: auto;
}

ul {
  list-style: none;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
