* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.one {
  background-color: rgb(66, 60, 51);
}

.header {
  display: flex;
}

img {
  height: 300px;
  width: auto;
  margin-left: 100px;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
